<a href="https://colab.research.google.com/github/AllKashirin/Education/blob/main/Set_cell_name.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
!pip install transliterate

Requirement already satisfied: transliterate in /usr/local/lib/python3.10/dist-packages (1.10.2)
Requirement already satisfied: six>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from transliterate) (1.16.0)

In [55]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [56]:
import pandas as pd
import numpy as np
import re
from transliterate import translit
import math
import time
import os
from tqdm import tqdm
from datetime import datetime
from openpyxl import load_workbook

In [57]:
def split_cells(cell):
    pattern = r'\W'
    return [x for x in re.split(pattern, cell) if x]

In [58]:
def split_symbols(column):
    all_data = column['namen'].split()
    all_data = [split_cells(z) for z in all_data]
    all_data = [item for data_list in all_data for item in data_list]
    letters = [item for item in all_data if item.isalpha()]
    digits = [item for item in all_data if item.isdigit()]
    return pd.Series({'namen': all_data, 'Модель': letters, 'Модификация': digits})

In [59]:
#def set_only_name(column):
 #   flag=false
  #  used_names=[]
   #     for row in column.itertuples():
    #    namen=''
     #   if name in Cars_names        #(item.isalpha() and len(item)>2) and (item in Cars_names):
      #      continue                 #name = item
       # model = row['Модель']        #flag = true
                                     #break
        #elif [item for item in mod_data if (item.isalpha() and len(item)>2) and (item in Cars_names)]:
         #   name = item
    #return pd.Series({'Марка =': name})

In [81]:
def clean_rows(data):
    #data = data.drop(axis=0, index = [0, 1, 2])
    #очищаем столбец Название = замена всего лишнего на пробел один!
    for column in ['namen','Марка','Модель','Модификация']:
        data[column] = data[column].astype(str)
        data[column] = data[column].str.lower()
        data[column] = data[column].str.replace(r'[^а-яa-z0-9\s-]', '', regex = True)
        data[column] = data[column].str.replace(r'-+', ' ', regex = True)
        data[column] = data[column].str.replace(r'\s{2,}', ' ', regex = True)
        data[column] = data[column].str.strip()
    #формируем наименование марки по первому вхождению названия в столбец "namen"
    #data['namen'] = data.apply(set_only_name, axis = 1)
    #print(data[column])
    return data

In [83]:
def rename(data):
    data = data.drop(axis=0, index = [0, 1, 2])
    stolbnm = []
    stolbmdl = []
    index = 0
    for row in data.itertuples():
        letter1 = row[4].split()
        letter2 = row[5].split()
        name = [item for item in letter1 if (item.isalpha() and len(item)>2) and (item in Cars_names)]
        if (name == '')|(name==None):
            name = 'not defined'
        model = [item for item in letter2 if (item.isalpha() and len(item)>2) and (item in Cars_names)]
        if (model == '')|(model==None):
            model = 'not defined'
        print(row)
        index=row[0]
        stolbnm [0] = stolbnm.append(name)
      #  if (stolbnm[index] == '')|(stolbnm[index]==None):
    #     stolbnm[index] = model
        stolbmdl[0] = stolbmdl.append(model)
        print('Столбец марка = ', index, stolbnm)
        print('Столбец модель = ', index, stolbmdl)
        print('------------------------------------')
    return pd.Series({stolbnm})

In [62]:
def set_cell_value(cell_value, template):
    if cell_value.startswith(template):
        return template
    else:
        return cell_value

In [63]:
#data['Марка']=data['Марка'].apply(lambda x: set_cell_value(x,template_value))

In [64]:
df = pd.read_excel(io='neucht.xlsx', sheet_name='NGHK', engine='openpyxl')
df.head()

   № п/п Категория техники                        Марка Модель  Модификация
0    NaN               NaN                          NaN    NaN          NaN
1    NaN               NaN                          NaN    NaN          NaN
2    1.0                 2                            3      4          5.0
3    2.0              ДСТ   КРАН ДЕМАГ ТС - 2600 /500T/    NaN          NaN
4    3.0              ДСТ            ДЭК-631 КС-7161 А     NaN          NaN

# считываем в датафрейм перечень - шаблоны наименований единиц техники

In [65]:
list_of_cars = pd.read_excel(io='Spissokk.xlsx', sheet_name='list1', engine='openpyxl')
list_of_cars.head()

       Марка           Модель Модификация
0    Akerman              UMG      EC-200
1    Alphard              NaN         NaN
2  Antworker              805         NaN
3     Arctic             1800         NaN
4     Arctic  Cat SNO 600 PRO         NaN

In [66]:
list_of_cars['Марка'] = list_of_cars['Марка'].astype(str)
list_of_cars['Марка'] = list_of_cars['Марка'].str.lower()

формируем список уникальных наименований = шаблонов

In [67]:
temp=list_of_cars['Марка'].tolist()
Cars_names=[]
[Cars_names.append(x) for x in temp if x not in Cars_names]
print(Cars_names)

['akerman', 'alphard', 'antworker', 'arctic', 'argo', 'argo-avenger', 'atlas copco', 'atlet', 'audi', 'aurus', 'autocut', 'avant', 'balkancar', 'bandvagn', 'baumaster', 'baw', 'bearcat', 'bearford', 'bmw', 'bobcat', 'bombardier', 'bulcar', 'carver', 'caterpillar', 'challenger', 'chevrolet', 'claeys', 'cummins', 'daewoo', 'demag', 'detvan', 'dieci', 'digger', 'doosan', 'dressta', 'elaz', 'elitech', 'endress', 'energo', 'eurokar', 'fablok', 'fastrac', 'faun', 'fd25с6', 'ferri', 'fiat', 'fiatallis', 'fobos', 'ford', 'forpost', 'forward', 'foxweld', 'freightliner', 'fresia ', 'geka', 'genesis', 'gesan', 'gmc', 'great wall ', 'grove', 'gys', 'hako', 'hako-citymaster ', 'hasky', 'heli', 'highlander', 'hitachi', 'honda', 'husgvama', 'husgvana', 'husky', 'husqvarna', 'huster', 'hyundai', 'ikarbus', 'indos', 'isuzu', 'iveco', 'iveco-amt', 'jac', 'jcb', 'jeep', 'john deere', 'kalmar', 'kamatsu', 'kamaz', 'kato', 'kawasaki', 'kia', 'kiitokori', 'king long', 'komatsu', 'kubota', 'lada', 'land rover', 'lexus', 'liebherr', 'locust', 'lombardgini', 'longgong', 'lotos', 'luidor', 'luigong', 'man', 'maniscopic', 'manitou', 'mantga(h56)', 'marcopolo', 'massey', 'maxgear', 'mecc alte', 'mercedes-benz', 'merlo', 'mitsuber', 'mitsubishi', 'mobicom', 'mobilab', 'morooka', 'mosa', 'multicar', 'neoplan', 'new holland', 'nissan', 'oleo-mac', 'olympia', 'palfinger', 'patriot', 'pilkington', 'polaris', 'ponsse', 'prime', 'record', 'renault', 'robin', 'robur', 'scania', 'schopf', 'sennebogen', 'setra', 'shanmon', 'shantui', 'silver', 'sinotruk', 'skandic', 'skoda', 'sor', 'ssangyong', 'stalowa wola', 'stels', 'stiga', 'tadano', 'tatra', 'tayga', 'temsa', 'terex', 'terex ', 'tiksy', 'tisel', 'toyota', 'tractel', 'tryberg', 'umg', 'unimog', 'vaikor', 'valmet', 'venieri', 'volat', 'volga', 'volgabus', 'volkswagen', 'volvo', 'vortex', 'wilson', 'wirtgen', 'wola', 'yamaha', 'yarovit', 'yeti', 'yutong', 'zoomlion', 'а', 'автомаш', 'агрера', 'агромаш', 'адд-4001', 'азимут', 'алтайлесмаш', 'амкодор', 'амур', 'аомз', 'ап', 'арктика', 'атек', 'атз', 'баз', 'балтиец', 'барс', 'беларус', 'беловеж', 'богдан', 'брмз', 'брянский арсенал', 'буран', 'бурлак', 'ваз', 'вепрь', 'вис', 'витязь', 'волжанин', 'вт-90', 'втз', 'газ', 'газель', 'гакз', 'гейзер', 'гирд', 'голаз', 'голиаф', 'донэкс', 'дст-урал', 'дт', 'дт-75', 'егерь', 'звезда', 'звм', 'здк', 'зил', 'зса', 'зубр', 'ивановец', 'иж', 'имз', 'интерм', 'кавз', 'калибр', 'камаз', 'камышин', 'кзкт', 'кировец', 'км беловеж', 'кмз', 'краз', 'кранэкс', 'ктз', 'кубанец', 'кубань', 'лаз', 'ларго', 'лев', 'лза', 'лиаз', 'лит', 'лтз', 'луидор', 'маз', 'макар', 'марал', 'машзавод', 'мзик', 'мзкт', 'митракс', 'мксм', 'ммз', 'моаз', 'мпз', 'мрмз', 'мтз', 'мтз беларус', 'мтз-82', 'мульчер', 'нефаз', 'нзас', 'ниаз', 'омз', 'отз', 'паз', 'пв', 'петрович', 'пзтк', 'пк', 'пк-33-01-01', 'победа', 'пум', 'раскат', 'рекорд', 'рм', 'рострак', 'рысь', 'сабр', 'саз', 'сап', 'сарз', 'сарэкс', 'святовит', 'сзап', 'сикар', 'см', 'снп', 'спм', 'станислав', 'стм', 'т', 'т-130', 'т-170', 'тагаз', 'таганай', 'тайга', 'там', 'тарз', 'тверьстроймаш', 'твэкс', 'техстроймаш', 'тл', 'тм', 'тмз', 'то-1224', 'торнадо', 'транспорт', 'трэкол', 'ттз', 'ттм', 'уаз', 'угсм', 'узго', 'узгт', 'узола', 'узст', 'умз', 'умпо', 'универсалмаш', 'урал', 'урал-4320', 'уралвагонзавод', 'уралтермосвар', 'урал-у1', 'уран', 'хивус', 'хтз', 'чайка-сервис', 'чайка-сервис ', 'чайка сервис ', 'челябинец', 'четра', 'чзпт', 'чкз', 'члмз', 'чмз', 'чсдм', 'чтз', 'шерлингтаз', 'шерп', 'эзса', 'эксмаш', 'энерго', 'энергомаш', 'югринец', 'юмз', 'юмз-6', 'юргинец']

In [68]:
trrus_cars_names = list_of_cars

транслитерируем шаблоны наименований

In [69]:
trrus_cars_names['Марка']=list_of_cars.apply(lambda x: translit(x['Марка'], 'ru'), axis=1)

добавляем транслитерируемые наименования к исходному списку шаблонов

In [70]:
_=trrus_cars_names['Марка'].tolist()
[Cars_names.append(x) for x in _ if x not in Cars_names]
print(Cars_names)

['akerman', 'alphard', 'antworker', 'arctic', 'argo', 'argo-avenger', 'atlas copco', 'atlet', 'audi', 'aurus', 'autocut', 'avant', 'balkancar', 'bandvagn', 'baumaster', 'baw', 'bearcat', 'bearford', 'bmw', 'bobcat', 'bombardier', 'bulcar', 'carver', 'caterpillar', 'challenger', 'chevrolet', 'claeys', 'cummins', 'daewoo', 'demag', 'detvan', 'dieci', 'digger', 'doosan', 'dressta', 'elaz', 'elitech', 'endress', 'energo', 'eurokar', 'fablok', 'fastrac', 'faun', 'fd25с6', 'ferri', 'fiat', 'fiatallis', 'fobos', 'ford', 'forpost', 'forward', 'foxweld', 'freightliner', 'fresia ', 'geka', 'genesis', 'gesan', 'gmc', 'great wall ', 'grove', 'gys', 'hako', 'hako-citymaster ', 'hasky', 'heli', 'highlander', 'hitachi', 'honda', 'husgvama', 'husgvana', 'husky', 'husqvarna', 'huster', 'hyundai', 'ikarbus', 'indos', 'isuzu', 'iveco', 'iveco-amt', 'jac', 'jcb', 'jeep', 'john deere', 'kalmar', 'kamatsu', 'kamaz', 'kato', 'kawasaki', 'kia', 'kiitokori', 'king long', 'komatsu', 'kubota', 'lada', 'land rover', 'lexus', 'liebherr', 'locust', 'lombardgini', 'longgong', 'lotos', 'luidor', 'luigong', 'man', 'maniscopic', 'manitou', 'mantga(h56)', 'marcopolo', 'massey', 'maxgear', 'mecc alte', 'mercedes-benz', 'merlo', 'mitsuber', 'mitsubishi', 'mobicom', 'mobilab', 'morooka', 'mosa', 'multicar', 'neoplan', 'new holland', 'nissan', 'oleo-mac', 'olympia', 'palfinger', 'patriot', 'pilkington', 'polaris', 'ponsse', 'prime', 'record', 'renault', 'robin', 'robur', 'scania', 'schopf', 'sennebogen', 'setra', 'shanmon', 'shantui', 'silver', 'sinotruk', 'skandic', 'skoda', 'sor', 'ssangyong', 'stalowa wola', 'stels', 'stiga', 'tadano', 'tatra', 'tayga', 'temsa', 'terex', 'terex ', 'tiksy', 'tisel', 'toyota', 'tractel', 'tryberg', 'umg', 'unimog', 'vaikor', 'valmet', 'venieri', 'volat', 'volga', 'volgabus', 'volkswagen', 'volvo', 'vortex', 'wilson', 'wirtgen', 'wola', 'yamaha', 'yarovit', 'yeti', 'yutong', 'zoomlion', 'а', 'автомаш', 'агрера', 'агромаш', 'адд-4001', 'азимут', 'алтайлесмаш', 'амкодор', 'амур', 'аомз', 'ап', 'арктика', 'атек', 'атз', 'баз', 'балтиец', 'барс', 'беларус', 'беловеж', 'богдан', 'брмз', 'брянский арсенал', 'буран', 'бурлак', 'ваз', 'вепрь', 'вис', 'витязь', 'волжанин', 'вт-90', 'втз', 'газ', 'газель', 'гакз', 'гейзер', 'гирд', 'голаз', 'голиаф', 'донэкс', 'дст-урал', 'дт', 'дт-75', 'егерь', 'звезда', 'звм', 'здк', 'зил', 'зса', 'зубр', 'ивановец', 'иж', 'имз', 'интерм', 'кавз', 'калибр', 'камаз', 'камышин', 'кзкт', 'кировец', 'км беловеж', 'кмз', 'краз', 'кранэкс', 'ктз', 'кубанец', 'кубань', 'лаз', 'ларго', 'лев', 'лза', 'лиаз', 'лит', 'лтз', 'луидор', 'маз', 'макар', 'марал', 'машзавод', 'мзик', 'мзкт', 'митракс', 'мксм', 'ммз', 'моаз', 'мпз', 'мрмз', 'мтз', 'мтз беларус', 'мтз-82', 'мульчер', 'нефаз', 'нзас', 'ниаз', 'омз', 'отз', 'паз', 'пв', 'петрович', 'пзтк', 'пк', 'пк-33-01-01', 'победа', 'пум', 'раскат', 'рекорд', 'рм', 'рострак', 'рысь', 'сабр', 'саз', 'сап', 'сарз', 'сарэкс', 'святовит', 'сзап', 'сикар', 'см', 'снп', 'спм', 'станислав', 'стм', 'т', 'т-130', 'т-170', 'тагаз', 'таганай', 'тайга', 'там', 'тарз', 'тверьстроймаш', 'твэкс', 'техстроймаш', 'тл', 'тм', 'тмз', 'то-1224', 'торнадо', 'транспорт', 'трэкол', 'ттз', 'ттм', 'уаз', 'угсм', 'узго', 'узгт', 'узола', 'узст', 'умз', 'умпо', 'универсалмаш', 'урал', 'урал-4320', 'уралвагонзавод', 'уралтермосвар', 'урал-у1', 'уран', 'хивус', 'хтз', 'чайка-сервис', 'чайка-сервис ', 'чайка сервис ', 'челябинец', 'четра', 'чзпт', 'чкз', 'члмз', 'чмз', 'чсдм', 'чтз', 'шерлингтаз', 'шерп', 'эзса', 'эксмаш', 'энерго', 'энергомаш', 'югринец', 'юмз', 'юмз-6', 'юргинец', 'акерман', 'алпхард', 'антwоркер', 'арцтиц', 'арго', 'арго-авенгер', 'атлас цопцо', 'атлет', 'ауди', 'аурус', 'аутоцут', 'авант', 'балканцар', 'бандвагн', 'баумастер', 'баw', 'беарцат', 'беарфорд', 'бмw', 'бобцат', 'бомбардиер', 'булцар', 'царвер', 'цатерпиллар', 'чалленгер', 'чевролет', 'цлаеыс', 'цумминс', 'даеwоо', 'демаг', 'детван', 'диеци', 'диггер', 'доосан', 'дресста', 'елаз', 'елитеч', 'ендресс', 'енерго', 'еурокар', 'фаблок', 'фастрац', 'фаун', 'фд25с6', 'ферри', 'фиат', 'фиаталлис', 'фобос', 'форд', 'форпост', 'форwард', 'фоxwелд', 'фреигхтлинер', 'фресиа ', 'гека', 'генесис', 'гесан', 'гмц', 'греат wалл ', 'грове', 'гыс', 'хако', 'хако-цитымастер ', 'хаскы', 'хели', 'хигхландер', 'хитачи', 'хонда', 'хусгвама', 'хусгвана', 'хускы', 'хусqварна', 'хустер', 'хыундаи', 'икарбус', 'индос', 'исузу', 'ивецо', 'ивецо-амт', 'яц', 'йцб', 'йееп', 'йохн деере', 'калмар', 'камацу', 'като', 'каwасаки', 'киа', 'киитокори', 'кинг лонг', 'комацу', 'кубота', 'лада', 'ланд ровер', 'леxус', 'лиебхерр', 'лоцуст', 'ломбардгини', 'лонггонг', 'лотос', 'луигонг', 'ман', 'манисцопиц', 'манитоу', 'мантга(х56)', 'марцополо', 'массеы', 'маxгеар', 'мецц алте', 'мерцедес-бенз', 'мерло', 'мицубер', 'мицубиши', 'мобицом', 'мобилаб', 'мороока', 'моса', 'мултицар', 'неоплан', 'неw холланд', 'ниссан', 'олео-мац', 'олымпиа', 'палфингер', 'патриот', 'пилкингтон', 'поларис', 'понссе', 'приме', 'рецорд', 'ренаулт', 'робин', 'робур', 'сцаниа', 'счопф', 'сеннебоген', 'сетра', 'шанмон', 'шантуи', 'силвер', 'синотрук', 'скандиц', 'скода', 'сор', 'ссангыонг', 'сталоwа wола', 'стелс', 'стига', 'тадано', 'татра', 'таыга', 'темса', 'тереx', 'тереx ', 'тиксы', 'тисел', 'тоыота', 'трацтел', 'трыберг', 'умг', 'унимог', 'ваикор', 'валмет', 'вениери', 'волат', 'волга', 'волгабус', 'волксwаген', 'волво', 'вортеx', 'wилсон', 'wиртген', 'wола', 'ыамаха', 'ыаровит', 'ыети', 'ыутонг', 'зоомлион']

этот столбец надо рассортировать

In [71]:
new_column = df['Марка'].astype(str)
new_column

0                                                   nan
1                                                   nan
2                                                     3
3                           КРАН ДЕМАГ ТС - 2600 /500T/
4                                    ДЭК-631 КС-7161 А
5                                    MANITOU M 50 - 4 T
6                  Снегоочиститель СШР-1 мод. 003-СА-В1
7                  Машина уборочная универсальная 54852
8     Погрузчик вилочный СО, Combilift C4000  г/п - ...
9                                   TOYOTA LAND CRUISER
10                                    NRCTZB   АГП 2204
11                                     IVECO-АМТ 653901
12    Кран автомобильный КС-65719-5К на шасси КАМАЗ ...
13                                               32591N
14                                395406 (ISUZU NQR75R)
15                        КО-530-05 на шасси МАЗ 6303А5
16                                АГП-32РТ марка 5328ВН
17                                   ГАЗель Next A32R23
18                                               32591N
19                                            УАЗ ПРОФИ
20                                              КС-6517
21     Передвижная парогенераторная установка 7098V2-10
22            Автотопливозаправщик 5670С2 НА ШАССИ УРАЛ
23                          Экскаватор гусеничный TX300
24                             Снегоболотоход ТТС-34044
25                                HAVAL H 9 CC6490WM20B
26                                   ГАЗель NEXT A22R33
27                            Чайка-сервис 2784ВВ с КМУ
Name: Марка, dtype: object

добавили столбец namen - чтобы оставить 3 результирующих столбца = марка, модель, модификация

In [77]:
df3=df
df3.head()

,№ п/п,Категория техники,namen,Марка,Модель,Модификация
0,NaN,NaN,nan,NaN,NaN,NaN
1,NaN,NaN,nan,NaN,NaN,NaN
2,1.0,2,3,3,4,5.0
3,2.0,ДСТ,КРАН ДЕМАГ ТС - 2600 /500T/,КРАН ДЕМАГ ТС - 2600 /500T/,NaN,NaN
4,3.0,ДСТ,ДЭК-631 КС-7161 А,ДЭК-631 КС-7161 А,NaN,NaN

In [78]:
#df3 = df.insert( 2 , 'namen', new_column)

разбиваю каждую ячейку на группы букв и цифр

In [79]:
clean_rows(df3)

,№ п/п,Категория техники,namen,Марка,Модель,Модификация
0,NaN,NaN,nan,nan,nan,nan
1,NaN,NaN,nan,nan,nan,nan
2,1.0,2,3,3,4,50
3,2.0,ДСТ,кран демаг тс 2600 500t,кран демаг тс 2600 500t,nan,nan
4,3.0,ДСТ,дэк 631 кс 7161 а,дэк 631 кс 7161 а,nan,nan
5,4.0,ДСТ,manitou m 50 4 t,manitou m 50 4 t,nan,nan
6,5.0,СТ,снегоочиститель сшр 1 мод 003 са в1,снегоочиститель сшр 1 мод 003 са в1,шасси камаз 43118,nan
7,6.0,СТ,машина уборочная универсальная 54852,машина уборочная универсальная 54852,шасси урал 5557,nan
8,7.0,ДСТ,погрузчик вилочный со combilift c4000 гп 4 тн ...,погрузчик вилочный со combilift c4000 гп 4 тн ...,nan,nan
9,8.0,АТ,toyota land cruiser,toyota land cruiser,nan,nan
10,9.0,СТ,nrctzb агп 2204,nrctzb агп 2204,шасси isuzu nqr75r,nan
11,10.0,ДСТ,iveco амт 653901,iveco амт 653901,nan,nan
12,11.0,ДСТ,кран автомобильный кс 65719 5к на шасси камаз ...,кран автомобильный кс 65719 5к на шасси камаз ...,шасси камаз 65222,nan
13,12.0,АТ,32591n,32591n,шасси газ,nan
14,13.0,СТ,395406 isuzu nqr75r,395406 isuzu nqr75r,шасси isuzu nqr75r,nan
15,14.0,СТ,ко 530 05 на шасси маз 6303а5,ко 530 05 на шасси маз 6303а5,шасси маз 6303а5,nan
16,15.0,СТ,агп 32рт марка 5328вн,агп 32рт марка 5328вн,шасси камаз 43114,nan
17,16.0,АТ,газель next a32r23,газель next a32r23,nan,nan
18,17.0,АТ,32591n,32591n,шасси газ 2705,nan
19,18.0,АТ,уаз профи,уаз профи,uaz profi 236324,nan
20,19.0,ДСТ,кс 6517,кс 6517,шасси камаз 65222,nan
21,20.0,СТ,передвижная парогенераторная установка 7098v2 10,передвижная парогенераторная установка 7098v2 10,nan,nan
22,21.0,СТ,автотопливозаправщик 5670с2 на шасси урал,автотопливозаправщик 5670с2 на шасси урал,nan,nan
23,22.0,ДСТ,экскаватор гусеничный tx300,экскаватор гусеничный tx300,nan,nan
24,23.0,СТ,снегоболотоход ттс 34044,снегоболотоход ттс 34044,nan,nan
25,24.0,АТ,haval h 9 cc6490wm20b,haval h 9 cc6490wm20b,nan,nan
26,25.0,АТ,газель next a22r33,газель next a22r33,nan,nan
27,26.0,АТ,чайка сервис 2784вв с кму,чайка сервис 2784вв с кму,шасси газ,nan

формирую два списка уникальных наименований для дальнейшего слияния в случае, когда "марка" не опознана из исходного столбца - надо взять инфу из "модели"

In [84]:
df4=rename(df3)

Pandas(Index=3, _1=2.0, _2='ДСТ ', namen='кран демаг тс 2600 500t', Марка='кран демаг тс 2600 500t', Модель='nan', Модификация='nan')
Столбец марка =  3 [None]
Столбец модель =  3 [None]
------------------------------------
Pandas(Index=4, _1=3.0, _2='ДСТ ', namen='дэк 631 кс 7161 а', Марка='дэк 631 кс 7161 а', Модель='nan', Модификация='nan')
Столбец марка =  4 [None, []]
Столбец модель =  4 [None, []]
------------------------------------
Pandas(Index=5, _1=4.0, _2='ДСТ ', namen='manitou m 50 4 t', Марка='manitou m 50 4 t', Модель='nan', Модификация='nan')
Столбец марка =  5 [None, [], ['manitou']]
Столбец модель =  5 [None, [], []]
------------------------------------
Pandas(Index=6, _1=5.0, _2='СТ', namen='снегоочиститель сшр 1 мод 003 са в1', Марка='снегоочиститель сшр 1 мод 003 са в1', Модель='шасси камаз 43118', Модификация='nan')
Столбец марка =  6 [None, [], ['manitou'], []]
Столбец модель =  6 [None, [], [], ['камаз']]
------------------------------------
Pandas(Index=7, _1=6.0, _2='СТ', namen='машина уборочная универсальная 54852', Марка='машина уборочная универсальная 54852', Модель='шасси урал 5557', Модификация='nan')
Столбец марка =  7 [None, [], ['manitou'], [], []]
Столбец модель =  7 [None, [], [], ['камаз'], ['урал']]
------------------------------------
Pandas(Index=8, _1=7.0, _2='ДСТ', namen='погрузчик вилочный со combilift c4000 гп 4 тн h 45 м rr', Марка='погрузчик вилочный со combilift c4000 гп 4 тн h 45 м rr', Модель='nan', Модификация='nan')
Столбец марка =  8 [None, [], ['manitou'], [], [], []]
Столбец модель =  8 [None, [], [], ['камаз'], ['урал'], []]
------------------------------------
Pandas(Index=9, _1=8.0, _2='АТ', namen='toyota land cruiser', Марка='toyota land cruiser', Модель='nan', Модификация='nan')
Столбец марка =  9 [None, [], ['manitou'], [], [], [], ['toyota']]
Столбец модель =  9 [None, [], [], ['камаз'], ['урал'], [], []]
------------------------------------
Pandas(Index=10, _1=9.0, _2='СТ', namen='nrctzb агп 2204', Марка='nrctzb агп 2204', Модель='шасси isuzu nqr75r', Модификация='nan')
Столбец марка =  10 [None, [], ['manitou'], [], [], [], ['toyota'], []]
Столбец модель =  10 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu']]
------------------------------------
Pandas(Index=11, _1=10.0, _2='ДСТ ', namen='iveco амт 653901', Марка='iveco амт 653901', Модель='nan', Модификация='nan')
Столбец марка =  11 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco']]
Столбец модель =  11 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], []]
------------------------------------
Pandas(Index=12, _1=11.0, _2='ДСТ ', namen='кран автомобильный кс 65719 5к на шасси камаз 65222 43', Марка='кран автомобильный кс 65719 5к на шасси камаз 65222 43', Модель='шасси камаз 65222', Модификация='nan')
Столбец марка =  12 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз']]
Столбец модель =  12 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз']]
------------------------------------
Pandas(Index=13, _1=12.0, _2='АТ ', namen='32591n', Марка='32591n', Модель='шасси газ', Модификация='nan')
Столбец марка =  13 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], []]
Столбец модель =  13 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ']]
------------------------------------
Pandas(Index=14, _1=13.0, _2='СТ', namen='395406 isuzu nqr75r', Марка='395406 isuzu nqr75r', Модель='шасси isuzu nqr75r', Модификация='nan')
Столбец марка =  14 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu']]
Столбец модель =  14 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu']]
------------------------------------
Pandas(Index=15, _1=14.0, _2='СТ', namen='ко 530 05 на шасси маз 6303а5', Марка='ко 530 05 на шасси маз 6303а5', Модель='шасси маз 6303а5', Модификация='nan')
Столбец марка =  15 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз']]
Столбец модель =  15 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз']]
------------------------------------
Pandas(Index=16, _1=15.0, _2='СТ', namen='агп 32рт марка 5328вн', Марка='агп 32рт марка 5328вн', Модель='шасси камаз 43114', Модификация='nan')
Столбец марка =  16 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], []]
Столбец модель =  16 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз']]
------------------------------------
Pandas(Index=17, _1=16.0, _2='АТ', namen='газель next a32r23', Марка='газель next a32r23', Модель='nan', Модификация='nan')
Столбец марка =  17 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель']]
Столбец модель =  17 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], []]
------------------------------------
Pandas(Index=18, _1=17.0, _2='АТ', namen='32591n', Марка='32591n', Модель='шасси газ 2705', Модификация='nan')
Столбец марка =  18 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель'], []]
Столбец модель =  18 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], [], ['газ']]
------------------------------------
Pandas(Index=19, _1=18.0, _2='АТ', namen='уаз профи', Марка='уаз профи', Модель='uaz profi 236324', Модификация='nan')
Столбец марка =  19 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель'], [], ['уаз']]
Столбец модель =  19 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], [], ['газ'], []]
------------------------------------
Pandas(Index=20, _1=19.0, _2='ДСТ ', namen='кс 6517', Марка='кс 6517', Модель='шасси камаз 65222', Модификация='nan')
Столбец марка =  20 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель'], [], ['уаз'], []]
Столбец модель =  20 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], [], ['газ'], [], ['камаз']]
------------------------------------
Pandas(Index=21, _1=20.0, _2='СТ', namen='передвижная парогенераторная установка 7098v2 10', Марка='передвижная парогенераторная установка 7098v2 10', Модель='nan', Модификация='nan')
Столбец марка =  21 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель'], [], ['уаз'], [], []]
Столбец модель =  21 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], [], ['газ'], [], ['камаз'], []]
------------------------------------
Pandas(Index=22, _1=21.0, _2='СТ', namen='автотопливозаправщик 5670с2 на шасси урал', Марка='автотопливозаправщик 5670с2 на шасси урал', Модель='nan', Модификация='nan')
Столбец марка =  22 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель'], [], ['уаз'], [], [], ['урал']]
Столбец модель =  22 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], [], ['газ'], [], ['камаз'], [], []]
------------------------------------
Pandas(Index=23, _1=22.0, _2='ДСТ ', namen='экскаватор гусеничный tx300', Марка='экскаватор гусеничный tx300', Модель='nan', Модификация='nan')
Столбец марка =  23 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель'], [], ['уаз'], [], [], ['урал'], []]
Столбец модель =  23 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], [], ['газ'], [], ['камаз'], [], [], []]
------------------------------------
Pandas(Index=24, _1=23.0, _2='СТ ', namen='снегоболотоход ттс 34044', Марка='снегоболотоход ттс 34044', Модель='nan', Модификация='nan')
Столбец марка =  24 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель'], [], ['уаз'], [], [], ['урал'], [], []]
Столбец модель =  24 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], [], ['газ'], [], ['камаз'], [], [], [], []]
------------------------------------
Pandas(Index=25, _1=24.0, _2='АТ', namen='haval h 9 cc6490wm20b', Марка='haval h 9 cc6490wm20b', Модель='nan', Модификация='nan')
Столбец марка =  25 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель'], [], ['уаз'], [], [], ['урал'], [], [], []]
Столбец модель =  25 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], [], ['газ'], [], ['камаз'], [], [], [], [], []]
------------------------------------
Pandas(Index=26, _1=25.0, _2='АТ', namen='газель next a22r33', Марка='газель next a22r33', Модель='nan', Модификация='nan')
Столбец марка =  26 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель'], [], ['уаз'], [], [], ['урал'], [], [], [], ['газель']]
Столбец модель =  26 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], [], ['газ'], [], ['камаз'], [], [], [], [], [], []]
------------------------------------
Pandas(Index=27, _1=26.0, _2='АТ', namen='чайка сервис 2784вв с кму', Марка='чайка сервис 2784вв с кму', Модель='шасси газ', Модификация='nan')
Столбец марка =  27 [None, [], ['manitou'], [], [], [], ['toyota'], [], ['iveco'], ['камаз'], [], ['isuzu'], ['маз'], [], ['газель'], [], ['уаз'], [], [], ['урал'], [], [], [], ['газель'], []]
Столбец модель =  27 [None, [], [], ['камаз'], ['урал'], [], [], ['isuzu'], [], ['камаз'], ['газ'], ['isuzu'], ['маз'], ['камаз'], [], ['газ'], [], ['камаз'], [], [], [], [], [], [], ['газ']]
------------------------------------

TypeError: unhashable type: 'list'

In [ ]:
stolbnm

In [ ]:
stolbmdl